#Not needed for docker compose
DATABASE_URL=postgres://uhc:uhc@localhost:5432/uhc
REDIS_URL=redis://localhost:6379
PORT=4000

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_MOCK_URL=http://localhost:4100
API_INTERNAL_URL=http://localhost:4000
